@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif !important;
  font-family: caudex, serif !important;
}
a {
  cursor: pointer;
}
.navbar-small-container {
  max-width: 950px;
  margin: 0 auto;
}
.container {
  max-width: 1560px;
  margin: 0 auto;
}
.big-container {
  max-width: 1400px;
  margin: 0 auto;
}

.hero-bg-img {
  background-image: url("./assets/bg-img/firstsection-bg-img.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav ul li:hover {
  color: rgb(215, 116, 49);
}

.navbar {
  width: 100%;
  background-color: white;
  transition: all 0.3s ease !important;
  position: sticky;
  z-index: 9999;
}

.navbar.fixed {
  transition: all 0.3s ease !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.group:hover .language-menu {
  display: block;
}
.language-menu {
  display: none;
}
.footer-btn button {
  position: absolute;
  width: 135px;
  height: 35px;
  transition: 0.2s;
  font-size: 17px;
  font-weight: 100 !important;
}
.footer-btn {
  position: relative;
  width: 100px;
  height: 35px;
  transition: 0.3s;
}
.footer-btn button:hover {
  transition: 0.2s;
  background-color: #fff;
  letter-spacing: 2px;
  text-decoration: underline;
}
@media (max-width: 575px) {
  .footer-btn button {
    position: absolute;
    width: 90px;
    height: 35px;
    transition: 0.2s;
    font-size: 17px;
    font-weight: 100 !important;
  }
  .footer-btn {
    position: relative;
    width: 100px;
    height: 35px;
    transition: 0.3s;
  }
}
footer {
  background: rgb(245, 247, 245);
}

@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDQ311QOP6BJUr4zfKBv70OEg.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDT311QOP6BJUrwdteUnp8DOJKuGPLB.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8NMpWMGsLAjdA.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDS311QOP6BJUr4yMKPtbosEJimIMs.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDQ311QOP6BJUr4wfKBv70OEqin.woff2")
    format("woff2");
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDT311QOP6BJUrwdteUkZ8DOJKuGPLB.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8CMpWMGsLAjdA.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDS311QOP6BJUr4yMKAtbosEJimIMs.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDQ311QOP6BJUr4zvKBv70OEqin.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDT311QOP6BJUrwdteUnJ8DOJKuGPLB.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8PMpWMGsLAjdA.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDS311QOP6BJUr4yMKNtbosEJimIMs.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDQ311QOP6BJUr4w_KBv70OEqin.woff2")
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDT311QOP6BJUrwdteUkp8DOJKuGA.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 700;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDV311QOP6BJUr4yMo4kK8BMpWMGsLA.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: italic;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDS311QOP6BJUr4yMKDtbosEJim.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}
@font-face {
  font-family: "caudex";
  font-style: normal;
  font-weight: 400;
  src: url("//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/caudex/v9/esDQ311QOP6BJUr4zfKBv70OEg.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
  font-display: swap;
}

/* Animatsiya uchun menyu */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}
